<!doctype html>
<html lang="en">
<head>
  <%- partial("_partials/_metatags") %>
  <title><%= title %> - <%= page_title %></title>
  <%- partial("_partials/_stylesheet", {css_path: "css"}) %>
</head>
<body>
  <%- partial("_partials/_header") %>
  <%- yield %>
</body>
</html>