 <nav role="navigation" class="mobile-menu">
    <span class="menu-title icon-menu js-toggle-menu"></span>
    <ul class="menu" role="menubar">
        <li>
          <a href="/" role="menuitem" class="<%- source == 'index' ? 'selected' : '' %>">
            Home
          </a>
        </li>
        <li>
          <a href="/fronteers" role="menuitem" class="<%- source == 'fronteers' ? 'selected' : '' %>">
           Fronteers
          </a>
          <% if(submenu == true && source == 'fronteers') { %>
          <ul>
            <li>
               <% for(var item in public.fronteers._data){ %>
                     <% if( public.fronteers._data[item].submenu_title !== false) { %>
                        <a href="<%= item %>.html" role="menuitem"
                            class="<%- item == sub_page ? 'selected' : '' %>">
                            <%= public.fronteers._data[item].submenu_title %>
                        </a>
                    <% } %>
                <% }; %>
            </li>
          </ul>
          <% } %>
        </li>
        <li>
            <a href="/blog" role="menuitem" class=" <%- source == 'blog' ? 'selected' : '' %>">
                Blog
            </a>
            <% if(submenu == true && source == 'blog') { %>
            <ul>
                <li>
                    <% for(var item in public.fronteers._data){ %>
                        <% if( public.fronteers._data[item].submenu_title !== false) { %>
                            <a href="<%= item %>.html" role="menuitem"
                                class="<%- item == sub_page ? 'selected' : '' %>">
                                <%= public.fronteers._data[item].submenu_title %>
                            </a>
                        <% } %>
                    <% }; %>
                </li>
            </ul>
            <% } %>
        </li>
        <li>
          <a href="/about.html" role="menuitem" class="<%- source == 'about' ? 'selected' : '' %>">
           About me
          </a>
        </li>
    </ul>
</nav>