<aside role="menu" class="desktop-menu">
<% if (source == 'fronteers') { %>
    <% for(var item in public.fronteers._data) {
            var item_obj = public.fronteers._data[item];
        { %>
         <% if (item_obj.submenu_title !== false) { %>
            <a href="/fronteers/<%= item %>.html" role="menuitem"
                class="<%- item == sub_page ? 'selected' : '' %>">
                <%= item_obj.submenu_title %>
            </a>
        <% } %>
    <% } }; %>
<% } %>

<% if (source == 'blog') { %>
    <% for(var item in public.blog._data) {
             var item_obj = public.blog._data[item];
        { %>
         <% if (item_obj.submenu_title !== false) { %>
            <a href="/blog/<%= item %>.html" role="menuitem"
                class="<%- item == sub_page ? 'selected' : '' %>">
                <%= item_obj.submenu_title %>
            </a>
        <% } %>
    <% } }; %>
<% } %>
</aside>