<!doctype html>
<html lang="en">
<head>
  <%- partial("../_partials/_metatags") %>

  <link rel="icon" type="image/ico" href="../img/favicon.ico"/>
  <%- partial("../_partials/_stylesheet", {css_path: "../css"}) %>
</head>
<body>
  <div class="visualwrapper">
    <%- partial("../_partials/_header") %>
    <%- partial("../_partials/_articles_nav") %>
    <div class="header-img"></div>
    <%- yield %>
  </div>
  <script src="../js/base_compiled.js"></script>
</body>
</html>